.card-button {
  height: 20px;
  width: 100px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 8px;
  cursor: pointer;
  margin: 50px auto 50px auto;
  color: white;
  background-color: #2980b9;
}

.left-card-button {
  background-color: #2980b9;
}

.left-card-button:hover {
  background-color: #1f6391;
}

.left-card-button:active {
  background-color: #194b6d;
}

.card-content {
  display: grid;
  grid-template-columns: 30vw 55vw;
  height: calc(100vh - 90px);
  position: fixed;
  left: 0;
}

.card-buttons {
  margin-top: 10vh;
  margin-bottom: auto;
}

.card-main {
  margin-bottom: auto;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(158, 158, 158);
}

.grid-row {
  margin-top: 100px;
  height: calc(100vh - 190px);
  display: grid;
  grid-template-rows: 70% 30%;
}

.bottom-buttons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 50px;
}

.audio-center {
  margin-top: 20vh;
}